{% extends 'base.html.twig' %}

{% block title %} - Welcome!{% endblock %}

{% block stylesheets %}
    {% stylesheets
    'bundles/app/bootstrap/css/bootstrap.min.css'
    'bundles/app/fonts/font-awesome/css/font-awesome.min.css'
    'bundles/app/css/main.css'
    'bundles/app/css/select2.min.css'
    'bundles/app/css/daterangepicker.css'
    'bundles/app/less/main.less'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    {% block header %}
        {% include '@App/Header/header.html.twig' %}
    {% endblock %}
    <div class="container">

        {% for flash_message in app.session.flashbag.get('error') %}
            <div class="alert alert-danger alert-dismissible fade in flash-error" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p><strong>Error!</strong> {{ flash_message }}</p>
            </div>
        {% endfor %}

        {% block content %}{% endblock %}
    </div>

    <div id="notify-container">
        <div id="notify" class="alert alert-success alert-dismissible fade in" role="alert">
            <button type="button" class="close"><span>×</span></button>
            <p><strong>Success!</strong> New game was created. Wait for confirmation from other players.</p>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {% javascripts
        'bundles/app/js/jquery-2.1.4.min.js'
        'bundles/app/bootstrap/js/bootstrap.min.js'
        'bundles/app/js/functions.js'
        'bundles/app/js/index.js'
        'bundles/app/js/select2.full.min.js'
        'bundles/app/js/moment.min.js'
        'bundles/app/js/daterangepicker.js'
        'bundles/app/js/jquery.tablesorter.min.js'
        'bundles/app/js/plugins/tournamentGame.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
